.mainContainer{
    display: flex;
    flex-direction: column;
}

.headerContainer{
    display: flex;
    align-items: center;
    width: 100vw;
}

.leftArrow{
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 0.5rem;
    margin-left: 0.4rem;
    margin-top: 0.3;
}

.leftArrow:hover{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

}

.questionForm {
    display: flex;
    width: 35vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0.2rem;
   
}

.contentContainer{
    display: flex;
    justify-content: center;
   
    flex-direction: row;
    padding: 1rem;
}

.monacoEditor{
  
    box-shadow: 0 0 0 0.1rem rgba(248, 245, 245, 0.466);
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.editorHeading{
    margin-bottom: 0.7rem;
    color: rgb(250, 249, 247);
}