.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 1rem;
  width: max-content;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(135deg, #292929, #292929);

}


.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  padding: 0.4rem 1.2rem;
  font-size: 2.0vh;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;
}

.navItem:not(:last-child) {
  margin-right: 0.6rem;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
  color: #f1f1f1;
}

.navItemSelected {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-weight: 600;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
}

