.NavigationBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 0.01rem; /* Reduced padding */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.Visible {
  transform: translateY(0); /* Fully visible */
}

.Hidden {
  transform: translateY(-100%); /* Hidden above the screen */
}

.NavList {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.NavItem {
  margin: 0 0.5rem; /* Reduced margin */
}

.NavLink {
  color: white;
  text-decoration: none;
  font-size: 1rem; /* Reduced font size */
}

.NavLink:hover {
  text-decoration: underline;
}
